body{
    background-color: #D8F1F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

button{
    background-color: #D8F1F8;
    border: 1px solid #D8F1F8;
    border-radius: 5px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

input{
    background-color: #D8F1F8;
    border: 1px solid black;
    border-radius: 5px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

select{
    background-color: #D8F1F8;
    border: 1px solid black;
    border-radius: 5px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
